#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Archipelago Server
Exec=${HOME}/bin/archipelago-server.sh "%f"
Icon=${HOME}/AppImages/.icons/archipelago
Terminal=true
NoDisplay=false
StartupNotify=false
Categories=Game;
MimeType=application/x-archipelago-server;
